<IfModule mod_rewrite.c>

    # BEGIN: Fix Safari iOS không phát được audio
    <IfModule mod_headers.c>
        Header set Accept-Ranges bytes
    </IfModule>

    <FilesMatch "\.(mp3|m4a|aac)$">
        Header set Accept-Ranges bytes
        Header set Cache-Control "public, max-age=86400"
    </FilesMatch>
    # END: Fix Safari iOS không phát được audio

    <IfModule mod_headers.c>
        # Enable byte-range requests for Safari iOS audio playback
        Header set Accept-Ranges "bytes"
    </IfModule>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
